In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [3]:
# Subiremos la primer fuente de datos (clean-data.csv) a la memoria

In [4]:
data = pd.read_csv("clean-data.csv")

In [5]:
data

       Area Producto   Ano Unidad  Valor
0   Ecuador     Maiz  2010    USD  380.0
1   Ecuador     Maiz  2011    USD  250.0
2   Ecuador     Maiz  2012    USD  315.9
3   Ecuador     Maiz  2013    USD  361.0
4   Ecuador     Maiz  2014    USD  335.6
5   Ecuador     Maiz  2015    USD  357.1
6   Ecuador     Maiz  2016    USD  381.6
7   Ecuador     Maiz  2017    USD  363.0
8   Ecuador     Maiz  2018    USD  316.1
9   Ecuador     Maiz  2019    USD  330.1
10  Ecuador     Maiz  2020    USD  333.4
11     Peru     Maiz  2010    USD  300.0
12     Peru     Maiz  2011    USD  290.0
13     Peru     Maiz  2012    USD  300.0
14     Peru     Maiz  2013    USD  255.0
15     Peru     Maiz  2014    USD  310.0
16     Peru     Maiz  2015    USD  325.1
17     Peru     Maiz  2016    USD  310.7
18     Peru     Maiz  2017    USD  321.0
19     Peru     Maiz  2018    USD  329.0
20     Peru     Maiz  2019    USD  301.0
21     Peru     Maiz  2020    USD  360.0

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
# Primeros datos en dataframe de pandas