In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [3]:
# Subiremos la primer fuente de datos (clean-data.csv) a la memoria

In [8]:
data = pd.read_csv("clean-data.csv")

In [9]:
data

,Area,Elemento,Producto,Ano,Meses,Unidad,Valor
0,Ecuador,Precio al productor (USD/tonelada),Maiz,2010,Valor anual,USD,380.0
1,Ecuador,Precio al productor (USD/tonelada),Maiz,2011,Valor anual,USD,250.0
2,Ecuador,Precio al productor (USD/tonelada),Maiz,2012,Valor anual,USD,315.9
3,Ecuador,Precio al productor (USD/tonelada),Maiz,2013,Valor anual,USD,361.0
4,Ecuador,Precio al productor (USD/tonelada),Maiz,2014,Valor anual,USD,335.6
5,Ecuador,Precio al productor (USD/tonelada),Maiz,2015,Valor anual,USD,357.1
6,Ecuador,Precio al productor (USD/tonelada),Maiz,2016,Valor anual,USD,381.6
7,Ecuador,Precio al productor (USD/tonelada),Maiz,2017,Valor anual,USD,363.0
8,Ecuador,Precio al productor (USD/tonelada),Maiz,2018,Valor anual,USD,316.1
9,Ecuador,Precio al productor (USD/tonelada),Maiz,2019,Valor anual,USD,330.1
10,Ecuador,Precio al productor (USD/tonelada),Maiz,2020,Valor anual,USD,333.4

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
# Primeros datos en dataframe de pandas